<div class="ui container tablet or lower hidden">
    <div class="ui stackable grid" style="margin-top: 1.5rem;">
        <div class="row">
            <div class="five wide column">
                <h1 class="ui header">
                    <i class="horizontally flipped comment outline red icon"></i>
                    <div class="content">
                        Logopedie HK
                    </div>
                </h1>
            </div>
            <div class="eleven wide column">
                <div class="ui stackable grid">
                    <div class="six wide column">
                        <h3 class="ui header">
                            <i class="home icon"></i>
                            <div class="content">
                                {{ site.data.info.address.street }}
                                <div class="sub header">
                                    {{ site.data.info.address.city }}
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="five wide column">
                        <h3 class="ui header">
                            <i class="clock outline icon"></i>
                            <div class="content">
                                {{ site.data.info.opening_hours.time }}
                                <div class="sub header">
                                    {{ site.data.info.opening_hours.days | capitalize }}
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="five wide column" style="padding-top: 10px;">
                        <div class="ui large blue button" id="phone-button">
                            <i class="horizontally flipped phone icon"></i>
                            {{ site.data.info.contact.phone }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="ui icon warning message">
        <i class="doctor icon"></i>
        <div class="content">
            <div class="header">
                <h2>15. března bude zavřeno</h2>
            </div>
            <p>Více informací o&nbsp;tom, kdo má právo na logopedickou péči hrazenou ze&nbsp;zdravotního
                pojištění najdete <a href="/logopedicka_pece.html">zde</a></p>
        </div>
    </div> -->

    <div class="ui massive secondary pointing menu" style="margin-top: 2rem;">
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" class="{% if page.path == item.link %}active{% endif %} item">{{ item.name }}</a>
        {% endfor %}
    </div>
</div>

<!-- mobile and table sidebar menu -->
<div class="ui big vertical sidebar menu">
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}" class="{% if page.path == item.link %}active{% endif %} item">
        {{ item.name }}
    </a>
    {% endfor %}
</div>

<!-- mobile and table fixed navbar -->
<div class="ui massive fixed menu mobile only tablet only borderless">
    <div class="ui container">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <div class="right menu">
            <div class="item" id="mobile_title">
                <i class="horizontally flipped comment outline red icon"></i> Logopedie HK
            </div>
        </div>
    </div>
</div>
